@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
$custom-colors:(
"primary": #005770
);

$theme-colors: map-merge($theme-colors , $custom-colors );

$navbar-dark-color: rgba(white,0.75);
$navbar-dark-active-color: white;
$navbar-dark-hover-color: white;




@import "~bootstrap/scss/bootstrap";

select:invalid {
    color: gray;
};


.btn-create {
    font-weight: bold;
    text-align: right;
    &:hover{
        background-color: white;
        color: map-get($theme-colors, primary) !important;
    }


}

.table-head-pointer th{
    &:hover{
        cursor: pointer;
    }
}

.modal-visitation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid map-get($theme-colors, primary);
    box-shadow: 2px 3px 20px black;
    padding: 2rem;
}
