@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
$custom-colors:(
"primary": #005770
);

$theme-colors: map-merge($theme-colors , $custom-colors );

$navbar-dark-color: rgba(white,0.75);
$navbar-dark-active-color: white;
$navbar-dark-hover-color: white;




@import "~bootstrap/scss/bootstrap";

select:invalid {
    color: gray;
};


.opret {
    font-weight: bold;
    text-align: right;
    &:hover{
        background-color: white;
        color: map-get($theme-colors, primary) !important;
    }


}

.table-head-pointer th{
    &:hover{
        cursor: pointer;
    }
}
